@font-face {
  font-weight: 500;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('../fonts/Gilroy/Gilroy-Medium.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-family: 'Gilroy';
  font-style: normal;
  src: url('../fonts/Gilroy/Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --color-white: #fff;
  --color-smoke: #F6F6F6;
  --color-light-gray: #E5E5E5;
  --color-black: #070707;
  --color-gray: #828282;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: var(--color-black);
  line-height: normal;
}

.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-section {
  padding: 0 30px;
  width: 100%;
  background-color: var(--color-white);
}

.app-section_gray {
  background-color: var(--color-smoke);
}

.app-container {
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
}

.app-title {
  color: var(--color-black);
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.app-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 30px;
  min-height: 42px;
  background-color: var(--color-black);
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: var(--color-white);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.app-icon {
  font-style: normal;
  font-family: 'icomoon';
}

.icon-behance::before {
  content: '\e900';
}

.icon-dribble::before {
  content: '\e901';
}

.icon-insta::before {
  content: '\e902';
}

.icon-linkedin::before {
  content: '\e903';
}

.app-rating {
  display: flex;
  align-items: center;
  gap: 8px;
}

.app-rating__star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  font-size: 20px;
  color: var(--color-light-gray);
}

.app-rating__star::before {
  font-style: normal;
  font-family: 'icomoon';
  content: '\e904';
}

.app-rating__star_active {
  color: var(--color-black);
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 32px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger::before,
.burger span,
.burger::after {
  display: block;
  width: 100%;
  height: 4px;
  content: '';
  background-color: var(--color-black);
}

.burger_active::before,
.burger_active::after {
  background-color: var(--color-gray);
}

.burger_active span {
  transform: scale(0);
}

.burger_active::before {
  transform: translateY(8px) rotate(45deg);
}

.burger_active::after {
  transform: translateY(-8px) rotate(-45deg);
}

.navigation {
  border-bottom: 1px solid var(--color-gray);
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 88px;
  list-style: none;
}

.navigation__item {}

.navigation__lang {
  display: none;
}

.navigation__link {
  color: var(--color-gray);
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s;
}

.navigation__link_active,
.navigation__link:hover {
  color: var(--color-black);
}

.navigation__burger {
  position: absolute;
  right: 30px;
  top: 60px;
  display: none;
}

.header {}

.brand {
  display: inline-flex;
  flex-direction: column;
  color: var(--color-black);
  font-size: 48px;
  font-weight: 700;
  text-decoration: none;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
}

.lang_large {
  font-size: 32px;
}

.lang__link {
  color: var(--color-gray);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
}

.lang__link_active,
.lang__link:hover {
  color: var(--color-black);
}

.socials {

}

.socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px 64px;
  list-style: none;
}

.socials__link {
  font-size: 40px;
  color: var(--color-black);
  text-decoration: none;
}

.intro {
  padding: 40px 0 104px;
}

.intro__content {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 30px;
}

.intro__brand {}

.intro__info {
  margin-bottom: 12px;
}

.intro__lang {
  position: relative;
  left: 24px;
  bottom: 36px;
  width: 64px;
  height: 20px;
  transform: rotate(-90deg);
}

.intro__burger {
  position: absolute;
  right: 0;
  top: 10px;
  display: none;
}

.intro__image {
  display: flex;
  width: 100%;
}

.about {
  padding: 120px 0 107px;
}

.about__title {
  margin-bottom: 24px;
}

.about__text {
  max-width: 485px;
  margin: 0 auto;
  text-align: center;
}

.about__text:not(:last-child) {
  margin-bottom: 36px;
}

.skills {
  padding: 91px 0 110px;
}

.skills__title {
  margin-bottom: 64px;
}

.skills__text {
  margin-bottom: 80px;
  text-align: center;
}

.skills__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  row-gap: 80px;
  list-style: none;
}

.skills__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  min-width: 200px;
  flex-grow: 1;
}

.skills__list-image {
  height: 90px;
  margin-bottom: 24px;
}

.skills__list-name {
  max-width: 80px;
  margin-bottom: 36px;
  color: var(--color-gray);
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.skills__rating {
  margin-top: auto;
}

.portfolio {
  padding: 112px 0 96px;
}

.portfolio__title {
  margin-bottom: 48px;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: stretch;
  list-style: none;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__item-image {
  display: flex;
  width: 100%;
  margin-bottom: 42px;
}

.portfolio__item-link {
  color: var(--color-black);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration-line: underline;
}

.contacts {
  padding: 114px 0 124px;
}

.contacts__title {
  margin-bottom: 32px;
}

.contacts__description {
  margin-bottom: 32px;
  text-align: center;
}

.contacts__button-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.contacts__socials {
  margin-bottom: 42px;
}

.contacts__text {
  color: var(--color-gray);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .socials__list {
    gap: 32px 50px;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 52px 30px 30px;
    background-color: var(--color-white);
    transform: translateX(0);
    transition: transform 0.3s;
  }

  .navigation_active {
    transform: translateX(100%);
  }

  .navigation__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .navigation__lang {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    transform: rotate(90deg) translate(-102px, -12px);
  }

  .navigation__link {
    font-size: 28px;
  }

  .navigation__burger {
    display: flex;
  }

  .intro {
    padding-bottom: 84px;
  }

  .intro__content {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12px;
  }

  .intro__brand {
    margin-bottom: 24px;
  }

  .intro__info {
    margin-bottom: 6px;
  }

  .intro__lang {
    display: none;
  }

  .intro__burger {
    display: flex;
  }

  .about {
    padding: 81px 0 76px;
  }

  .skills {
    padding: 84px 0 100px;
  }

  .skills__title {
    margin-bottom: 50px;
  }

  .skills__text {
    margin-bottom: 70px;
  }

  .portfolio {
    padding: 80px 0;
  }

  .portfolio__item-image {
    margin-bottom: 32px;
  }

  .contacts {
    padding: 82px 0 90px;
  }

  .contacts__button-wrapper {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
